// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
// Color global personalizado de la app
:root {
  --ion-background-color: #fffde7;
  --ion-toolbar-background: #f9c92a;
  --ion-color-primary: #f9c92a;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-shade: #d9aa1e;
  --ion-color-primary-tint: #fad44f;
}
