<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Galería</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/explorar">
        <ion-icon slot="icon-only" name="compass-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2.4" *ngFor="let photo of photoService.photos">
        <ion-img
          (click)="verFoto(photo)"
          [src]="photo.webviewPath">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="tomarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
